fastapi
uvicorn
requests
beautifulsoup4
langchain
sentence-transformers
faiss-cpu
streamlit
pydantic
python-dotenv
chromadb
huggingface_hub
sentence-transformers
pandas
langchain-community
langchain-huggingface
torch